.wrapper,
html,
body {
  height: 100%;
  margin: 0;
  background-color: inherit; /* Inherit the background color from the theme */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 80%;
}

.centered {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
